body {
  background-image: url(frost.jpg);
  background-size: 100%;
  font-family: "Raleway", sans-serif;
  color: #352f44;
}

.main {
  background: #ffffff;
  max-width: 600px;
  border-radius: 15px;
  padding: 40px;
  margin: 30px auto;
  opacity: 0.95;
}

.form-input {
  background: #daf0f5;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

.form-button {
  background: #daf0f5;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  margin-left: 20px;
  font-weight: bold;
}

header {
  border-bottom: solid 1px grey;
  padding: 0 0 20px 0;
}

footer {
  border-top: solid 1px grey;
  padding: 20px 0 0 0;
  font-size: 12px;
  text-align: center;
}
a {
  color: #287493;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

.weather-app-city {
  margin: 20px 0 20px 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-temperature-container {
  display: flex;
  margin: 20px 0 20px 0;
}

.weather-app-emoji {
  width: 100px;
  height: 100px;
}

.weather-app-temperature {
  font-size: 88px;
  padding: 5px 0 5px 0;
  line-height: 1;
}

.weather-app-unit {
  font-size: 32px;
  padding-top: 10px;
}

strong {
  color: #287493;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.6;
}

.weather-forecast-temperature {
  color: black;
}

.weather-forecast-min {
  opacity: 0.6;
}

.weather-forecast-icon {
  width: 100%;
  margin: 0 auto;
}
